Source: http-proxy
Section: net
Priority: extra
Maintainer: StalkR <stalkr@stalkr.net>
Build-Depends:
  debhelper (>= 13),
  debhelper-compat (= 12),
  golang-go
Standards-Version: 4.7.2
Homepage: https://github.com/StalkR/http-proxy

Package: http-proxy
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Simple HTTP proxy in Go, no caching.
 Supports CONNECT method for HTTPS & HTTP/2.
